public/Egp-ai-transcript-upload Version 3.json
{
  "name": "Egp-ai-transcript-upload Version 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "EGP-ADS AI Everything V3",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sales Call"
                  },
                  {
                    "option": "Ads Training Data"
                  },
                  {
                    "option": "Ads"
                  },
                  {
                    "option": "Winning Ads"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Next",
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Enhanced Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 15px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 16px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 16px;\n\t--font-size-field-description: 13px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-test-notice-text: #f59e0b;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.2);\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #6366f1;\n\t--color-header: #1f2937;\n\t--color-label: #374151;\n\t--color-input-border: #e5e7eb;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #6b7280;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t--color-field-description: #6b7280;\n\t--color-upload-area: #f8fafc;\n\t--color-upload-border: #cbd5e1;\n\t--color-upload-hover: #f1f5f9;\n\t\n\t/* Enhanced Border Radii */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--border-radius-submit: 12px;\n\t--card-border-radius: 16px;\n\t\n\t/* Enhanced Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-field-gap: 24px;\n\t--spacing-label-margin: 8px;\n\t\n\t/* Enhanced Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--checkbox-size: 20px;\n\t--upload-area-min-height: 120px;\n\t\n\t/* Enhanced Effects */\n\t--box-shadow-card: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n\t--box-shadow-hover: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n\t--opacity-placeholder: 0.6;\n\t--transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--backdrop-blur: blur(20px);\n}\n\n/* Enhanced Container */\n.form-container {\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tpadding: var(--padding-container-top);\n\tbackdrop-filter: var(--backdrop-blur);\n}\n\n/* Enhanced Card */\n.form-card {\n\tbackground: var(--color-card-bg);\n\tbackdrop-filter: var(--backdrop-blur);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--padding-card);\n\tmargin-bottom: var(--margin-bottom-card);\n\ttransition: var(--transition-smooth);\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n}\n\n.form-card:hover {\n\tbox-shadow: var(--box-shadow-hover);\n\ttransform: translateY(-2px);\n}\n\n/* Enhanced Headers */\n.form-header {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: #1f2937;\n\tmargin-bottom: 12px;\n\ttext-align: center;\n}\n\n.form-description {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: #1f2937 !important;\n\ttext-align: center;\n\tmargin-bottom: 32px;\n\tline-height: 1.6;\n}\n\n/* Additional selectors to ensure description text matches title color */\n.form-card p,\n.form-container p {\n\tcolor: #1f2937 !important;\n}\n\n/* Enhanced Form Fields */\n.form-field {\n\tmargin-bottom: var(--spacing-field-gap);\n}\n\n.form-label {\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-label-margin);\n\tdisplay: block;\n}\n\n/* Add field descriptions */\n.form-field-description {\n\tfont-size: var(--font-size-field-description);\n\tcolor: var(--color-field-description);\n\tmargin-top: 6px;\n\tmargin-bottom: 16px;\n\tline-height: 1.5;\n\tfont-style: italic;\n\topacity: 0.8;\n}\n\n/* Style for TikTok URL input */\ninput[type=\"text\"],\ninput[type=\"url\"] {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\ninput[type=\"text\"]:focus,\ninput[type=\"url\"]:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced Input Styles */\n.form-input {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\n.form-input:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced File Upload Area */\n.file-upload-area,\ninput[type=\"file\"] {\n\tborder: 2px dashed var(--color-upload-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground-color: var(--color-upload-area);\n\tmin-height: var(--upload-area-min-height);\n\tpadding: var(--padding-form-input);\n\ttransition: var(--transition-smooth);\n\tcursor: pointer;\n\twidth: 100%;\n\tfont-family: var(--font-family);\n}\n\n.file-upload-area:hover,\ninput[type=\"file\"]:hover {\n\tbackground-color: var(--color-upload-hover);\n\tborder-color: var(--color-focus-border);\n}\n\n/* Style the file input properly */\ninput[type=\"file\"] {\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n}\n\ninput[type=\"file\"]::file-selector-button {\n\tbackground: #1f2937 !important;\n\tcolor: white !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: 8px;\n\tpadding: 10px 20px;\n\tmargin-right: 12px;\n\tcursor: pointer;\n\tfont-weight: var(--font-weight-medium);\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;\n}\n\ninput[type=\"file\"]::file-selector-button:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\ninput[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #1f2937 !important;\n\tcolor: #ffffff !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: var(--border-radius-submit);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-medium);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2) !important;\n\tmargin-top: 24px;\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\ninput[type=\"submit\"]:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Pro Tip */\n.pro-tip {\n\tbackground: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n\tborder: 1px solid #f59e0b;\n\tborder-radius: var(--border-radius-input);\n\tpadding: 16px;\n\tmargin-top: 24px;\n\tfont-size: var(--font-size-field-description);\n\tcolor: #92400e;\n\tdisplay: flex;\n\talign-items: center;\n\tgap: 8px;\n}\n\n.pro-tip::before {\n\tcontent: \"💡\";\n\tfont-size: 18px;\n}\n\n/* Responsive Design */\n@media (max-width: 640px) {\n\t:root {\n\t\t--container-width: 100%;\n\t\t--padding-card: 24px;\n\t\t--font-size-header: 28px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: 20px;\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -64,
        32
      ],
      "id": "bce868d7-12e2-48c6-8b62-23b51ed1422b",
      "name": "On form submission",
      "webhookId": "82b9b7af-9310-4158-9385-349a360635e7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['File Type'] }}",
                    "rightValue": "Sales Call",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e795baa3-1a54-4fd6-8514-052414628eff"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sales Call"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87e22e56-96d6-42fd-bf20-5128af509ead",
                    "leftValue": "={{ $json['File Type'] }}",
                    "rightValue": "Ads Training Data",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ads Training Data"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41502872-6732-4193-b87d-7426369229c9",
                    "leftValue": "={{ $json['File Type'] }}",
                    "rightValue": "Ads",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ads"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c103405-3ac2-4c41-b985-84897560c106",
                    "leftValue": "={{ $json['File Type'] }}",
                    "rightValue": "Winning Ads",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Winning Ads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "6edef62e-4e4b-4921-a235-0fe126c87d72",
      "name": "Switch"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Sales Call File",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Enhanced Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 15px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 16px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 16px;\n\t--font-size-field-description: 13px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-test-notice-text: #f59e0b;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.2);\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #6366f1;\n\t--color-header: #1f2937;\n\t--color-label: #374151;\n\t--color-input-border: #e5e7eb;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #6b7280;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t--color-field-description: #6b7280;\n\t--color-upload-area: #f8fafc;\n\t--color-upload-border: #cbd5e1;\n\t--color-upload-hover: #f1f5f9;\n\t\n\t/* Enhanced Border Radii */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--border-radius-submit: 12px;\n\t--card-border-radius: 16px;\n\t\n\t/* Enhanced Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-field-gap: 24px;\n\t--spacing-label-margin: 8px;\n\t\n\t/* Enhanced Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--checkbox-size: 20px;\n\t--upload-area-min-height: 120px;\n\t\n\t/* Enhanced Effects */\n\t--box-shadow-card: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n\t--box-shadow-hover: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n\t--opacity-placeholder: 0.6;\n\t--transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--backdrop-blur: blur(20px);\n}\n\n/* Enhanced Container */\n.form-container {\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tpadding: var(--padding-container-top);\n\tbackdrop-filter: var(--backdrop-blur);\n}\n\n/* Enhanced Card */\n.form-card {\n\tbackground: var(--color-card-bg);\n\tbackdrop-filter: var(--backdrop-blur);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--padding-card);\n\tmargin-bottom: var(--margin-bottom-card);\n\ttransition: var(--transition-smooth);\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n}\n\n.form-card:hover {\n\tbox-shadow: var(--box-shadow-hover);\n\ttransform: translateY(-2px);\n}\n\n/* Enhanced Headers */\n.form-header {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: #1f2937;\n\tmargin-bottom: 12px;\n\ttext-align: center;\n}\n\n.form-description {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: #1f2937 !important;\n\ttext-align: center;\n\tmargin-bottom: 32px;\n\tline-height: 1.6;\n}\n\n/* Additional selectors to ensure description text matches title color */\n.form-card p,\n.form-container p {\n\tcolor: #1f2937 !important;\n}\n\n/* Enhanced Form Fields */\n.form-field {\n\tmargin-bottom: var(--spacing-field-gap);\n}\n\n.form-label {\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-label-margin);\n\tdisplay: block;\n}\n\n/* Add field descriptions */\n.form-field-description {\n\tfont-size: var(--font-size-field-description);\n\tcolor: var(--color-field-description);\n\tmargin-top: 6px;\n\tmargin-bottom: 16px;\n\tline-height: 1.5;\n\tfont-style: italic;\n\topacity: 0.8;\n}\n\n/* Style for TikTok URL input */\ninput[type=\"text\"],\ninput[type=\"url\"] {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\ninput[type=\"text\"]:focus,\ninput[type=\"url\"]:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced Input Styles */\n.form-input {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\n.form-input:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced File Upload Area */\n.file-upload-area,\ninput[type=\"file\"] {\n\tborder: 2px dashed var(--color-upload-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground-color: var(--color-upload-area);\n\tmin-height: var(--upload-area-min-height);\n\tpadding: var(--padding-form-input);\n\ttransition: var(--transition-smooth);\n\tcursor: pointer;\n\twidth: 100%;\n\tfont-family: var(--font-family);\n}\n\n.file-upload-area:hover,\ninput[type=\"file\"]:hover {\n\tbackground-color: var(--color-upload-hover);\n\tborder-color: var(--color-focus-border);\n}\n\n/* Style the file input properly */\ninput[type=\"file\"] {\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n}\n\ninput[type=\"file\"]::file-selector-button {\n\tbackground: #1f2937 !important;\n\tcolor: white !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: 8px;\n\tpadding: 10px 20px;\n\tmargin-right: 12px;\n\tcursor: pointer;\n\tfont-weight: var(--font-weight-medium);\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;\n}\n\ninput[type=\"file\"]::file-selector-button:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\ninput[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #1f2937 !important;\n\tcolor: #ffffff !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: var(--border-radius-submit);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-medium);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2) !important;\n\tmargin-top: 24px;\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\ninput[type=\"submit\"]:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Pro Tip */\n.pro-tip {\n\tbackground: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n\tborder: 1px solid #f59e0b;\n\tborder-radius: var(--border-radius-input);\n\tpadding: 16px;\n\tmargin-top: 24px;\n\tfont-size: var(--font-size-field-description);\n\tcolor: #92400e;\n\tdisplay: flex;\n\talign-items: center;\n\tgap: 8px;\n}\n\n.pro-tip::before {\n\tcontent: \"💡\";\n\tfont-size: 18px;\n}\n\n/* Responsive Design */\n@media (max-width: 640px) {\n\t:root {\n\t\t--container-width: 100%;\n\t\t--padding-card: 24px;\n\t\t--font-size-header: 28px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: 20px;\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        528,
        -288
      ],
      "id": "d6af8761-736b-4b99-a945-2ca86b8aa03d",
      "name": "Sales Call",
      "webhookId": "fd73633e-bf56-4258-b07c-ad8ef63ff307"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ads Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Instagram URL"
                  },
                  {
                    "option": "Facebook Ads ID"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Instagram URL or Facebook Ads ID"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Enhanced Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 15px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 16px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 16px;\n\t--font-size-field-description: 13px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-test-notice-text: #f59e0b;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.2);\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #6366f1;\n\t--color-header: #1f2937;\n\t--color-label: #374151;\n\t--color-input-border: #e5e7eb;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #6b7280;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t--color-field-description: #6b7280;\n\t--color-upload-area: #f8fafc;\n\t--color-upload-border: #cbd5e1;\n\t--color-upload-hover: #f1f5f9;\n\t\n\t/* Enhanced Border Radii */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--border-radius-submit: 12px;\n\t--card-border-radius: 16px;\n\t\n\t/* Enhanced Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-field-gap: 24px;\n\t--spacing-label-margin: 8px;\n\t\n\t/* Enhanced Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--checkbox-size: 20px;\n\t--upload-area-min-height: 120px;\n\t\n\t/* Enhanced Effects */\n\t--box-shadow-card: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n\t--box-shadow-hover: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n\t--opacity-placeholder: 0.6;\n\t--transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--backdrop-blur: blur(20px);\n}\n\n/* Enhanced Container */\n.form-container {\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tpadding: var(--padding-container-top);\n\tbackdrop-filter: var(--backdrop-blur);\n}\n\n/* Enhanced Card */\n.form-card {\n\tbackground: var(--color-card-bg);\n\tbackdrop-filter: var(--backdrop-blur);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--padding-card);\n\tmargin-bottom: var(--margin-bottom-card);\n\ttransition: var(--transition-smooth);\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n}\n\n.form-card:hover {\n\tbox-shadow: var(--box-shadow-hover);\n\ttransform: translateY(-2px);\n}\n\n/* Enhanced Headers */\n.form-header {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: #1f2937;\n\tmargin-bottom: 12px;\n\ttext-align: center;\n}\n\n.form-description {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: #1f2937 !important;\n\ttext-align: center;\n\tmargin-bottom: 32px;\n\tline-height: 1.6;\n}\n\n/* Additional selectors to ensure description text matches title color */\n.form-card p,\n.form-container p {\n\tcolor: #1f2937 !important;\n}\n\n/* Enhanced Form Fields */\n.form-field {\n\tmargin-bottom: var(--spacing-field-gap);\n}\n\n.form-label {\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-label-margin);\n\tdisplay: block;\n}\n\n/* Add field descriptions */\n.form-field-description {\n\tfont-size: var(--font-size-field-description);\n\tcolor: var(--color-field-description);\n\tmargin-top: 6px;\n\tmargin-bottom: 16px;\n\tline-height: 1.5;\n\tfont-style: italic;\n\topacity: 0.8;\n}\n\n/* Style for TikTok URL input */\ninput[type=\"text\"],\ninput[type=\"url\"] {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\ninput[type=\"text\"]:focus,\ninput[type=\"url\"]:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced Input Styles */\n.form-input {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\n.form-input:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced File Upload Area */\n.file-upload-area,\ninput[type=\"file\"] {\n\tborder: 2px dashed var(--color-upload-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground-color: var(--color-upload-area);\n\tmin-height: var(--upload-area-min-height);\n\tpadding: var(--padding-form-input);\n\ttransition: var(--transition-smooth);\n\tcursor: pointer;\n\twidth: 100%;\n\tfont-family: var(--font-family);\n}\n\n.file-upload-area:hover,\ninput[type=\"file\"]:hover {\n\tbackground-color: var(--color-upload-hover);\n\tborder-color: var(--color-focus-border);\n}\n\n/* Style the file input properly */\ninput[type=\"file\"] {\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n}\n\ninput[type=\"file\"]::file-selector-button {\n\tbackground: #1f2937 !important;\n\tcolor: white !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: 8px;\n\tpadding: 10px 20px;\n\tmargin-right: 12px;\n\tcursor: pointer;\n\tfont-weight: var(--font-weight-medium);\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;\n}\n\ninput[type=\"file\"]::file-selector-button:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\ninput[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #1f2937 !important;\n\tcolor: #ffffff !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: var(--border-radius-submit);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-medium);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2) !important;\n\tmargin-top: 24px;\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\ninput[type=\"submit\"]:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Pro Tip */\n.pro-tip {\n\tbackground: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n\tborder: 1px solid #f59e0b;\n\tborder-radius: var(--border-radius-input);\n\tpadding: 16px;\n\tmargin-top: 24px;\n\tfont-size: var(--font-size-field-description);\n\tcolor: #92400e;\n\tdisplay: flex;\n\talign-items: center;\n\tgap: 8px;\n}\n\n.pro-tip::before {\n\tcontent: \"💡\";\n\tfont-size: 18px;\n}\n\n/* Responsive Design */\n@media (max-width: 640px) {\n\t:root {\n\t\t--container-width: 100%;\n\t\t--padding-card: 24px;\n\t\t--font-size-header: 28px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: 20px;\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        528,
        128
      ],
      "id": "c42aca26-b181-4a05-a1db-46e03f4df28a",
      "name": "Ads",
      "webhookId": "fd73633e-bf56-4258-b07c-ad8ef63ff307"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ads Type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Instagram URL"
                  },
                  {
                    "option": "Facebook Ads ID"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Instagram URL or Facebook Ads ID"
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Enhanced Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 15px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 16px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 16px;\n\t--font-size-field-description: 13px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-test-notice-text: #f59e0b;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.2);\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #6366f1;\n\t--color-header: #1f2937;\n\t--color-label: #374151;\n\t--color-input-border: #e5e7eb;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #6b7280;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t--color-field-description: #6b7280;\n\t--color-upload-area: #f8fafc;\n\t--color-upload-border: #cbd5e1;\n\t--color-upload-hover: #f1f5f9;\n\t\n\t/* Enhanced Border Radii */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--border-radius-submit: 12px;\n\t--card-border-radius: 16px;\n\t\n\t/* Enhanced Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-field-gap: 24px;\n\t--spacing-label-margin: 8px;\n\t\n\t/* Enhanced Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--checkbox-size: 20px;\n\t--upload-area-min-height: 120px;\n\t\n\t/* Enhanced Effects */\n\t--box-shadow-card: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n\t--box-shadow-hover: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n\t--opacity-placeholder: 0.6;\n\t--transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--backdrop-blur: blur(20px);\n}\n\n/* Enhanced Container */\n.form-container {\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tpadding: var(--padding-container-top);\n\tbackdrop-filter: var(--backdrop-blur);\n}\n\n/* Enhanced Card */\n.form-card {\n\tbackground: var(--color-card-bg);\n\tbackdrop-filter: var(--backdrop-blur);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--padding-card);\n\tmargin-bottom: var(--margin-bottom-card);\n\ttransition: var(--transition-smooth);\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n}\n\n.form-card:hover {\n\tbox-shadow: var(--box-shadow-hover);\n\ttransform: translateY(-2px);\n}\n\n/* Enhanced Headers */\n.form-header {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: #1f2937;\n\tmargin-bottom: 12px;\n\ttext-align: center;\n}\n\n.form-description {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: #1f2937 !important;\n\ttext-align: center;\n\tmargin-bottom: 32px;\n\tline-height: 1.6;\n}\n\n/* Additional selectors to ensure description text matches title color */\n.form-card p,\n.form-container p {\n\tcolor: #1f2937 !important;\n}\n\n/* Enhanced Form Fields */\n.form-field {\n\tmargin-bottom: var(--spacing-field-gap);\n}\n\n.form-label {\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-label-margin);\n\tdisplay: block;\n}\n\n/* Add field descriptions */\n.form-field-description {\n\tfont-size: var(--font-size-field-description);\n\tcolor: var(--color-field-description);\n\tmargin-top: 6px;\n\tmargin-bottom: 16px;\n\tline-height: 1.5;\n\tfont-style: italic;\n\topacity: 0.8;\n}\n\n/* Style for TikTok URL input */\ninput[type=\"text\"],\ninput[type=\"url\"] {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\ninput[type=\"text\"]:focus,\ninput[type=\"url\"]:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced Input Styles */\n.form-input {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\n.form-input:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced File Upload Area */\n.file-upload-area,\ninput[type=\"file\"] {\n\tborder: 2px dashed var(--color-upload-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground-color: var(--color-upload-area);\n\tmin-height: var(--upload-area-min-height);\n\tpadding: var(--padding-form-input);\n\ttransition: var(--transition-smooth);\n\tcursor: pointer;\n\twidth: 100%;\n\tfont-family: var(--font-family);\n}\n\n.file-upload-area:hover,\ninput[type=\"file\"]:hover {\n\tbackground-color: var(--color-upload-hover);\n\tborder-color: var(--color-focus-border);\n}\n\n/* Style the file input properly */\ninput[type=\"file\"] {\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n}\n\ninput[type=\"file\"]::file-selector-button {\n\tbackground: #1f2937 !important;\n\tcolor: white !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: 8px;\n\tpadding: 10px 20px;\n\tmargin-right: 12px;\n\tcursor: pointer;\n\tfont-weight: var(--font-weight-medium);\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;\n}\n\ninput[type=\"file\"]::file-selector-button:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\ninput[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #1f2937 !important;\n\tcolor: #ffffff !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: var(--border-radius-submit);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-medium);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2) !important;\n\tmargin-top: 24px;\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\ninput[type=\"submit\"]:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Pro Tip */\n.pro-tip {\n\tbackground: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n\tborder: 1px solid #f59e0b;\n\tborder-radius: var(--border-radius-input);\n\tpadding: 16px;\n\tmargin-top: 24px;\n\tfont-size: var(--font-size-field-description);\n\tcolor: #92400e;\n\tdisplay: flex;\n\talign-items: center;\n\tgap: 8px;\n}\n\n.pro-tip::before {\n\tcontent: \"💡\";\n\tfont-size: 18px;\n}\n\n/* Responsive Design */\n@media (max-width: 640px) {\n\t:root {\n\t\t--container-width: 100%;\n\t\t--padding-card: 24px;\n\t\t--font-size-header: 28px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: 20px;\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        544,
        336
      ],
      "id": "10f436f2-408c-4573-b284-29962eef3d58",
      "name": "Winning Ads",
      "webhookId": "fd73633e-bf56-4258-b07c-ad8ef63ff307"
    },
    {
      "parameters": {
        "content": "## Instagram Ads Route\n",
        "height": 420,
        "width": 1728,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        16
      ],
      "id": "6f18608b-9e8a-4064-ad3f-189bd7ecb896",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Facebook Ads Route\n",
        "height": 420,
        "width": 1520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        464
      ],
      "id": "61da56b3-2dbf-4a50-82c4-70e59c22459f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/shu8hvrXbJbY3Eb9W/run-sync-get-dataset-items?token=apify_api_oDBeLNWFa5L4fYoPROntHFgWAaA2lX2mmXFH",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addParentData\": false,\n  \"directUrls\": [\n    \"{{ $json['Instagram URL or Facebook Ads ID'] }}\"\n  ],\n  \"enhanceUserSearchWithFacebookPage\": false,\n  \"isUserReelFeedURL\": false,\n  \"isUserTaggedFeedURL\": false,\n  \"resultsType\": \"details\",\n  \"searchLimit\": 1,\n  \"searchType\": \"hashtag\"\n}",
        "options": {}
      },
      "id": "8a6f8f8a-7fa7-4184-b24c-5cb7c9c48b96",
      "name": "Get Video File Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sync.api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDI0NDlkN2JkYThkYzhhOTlmYzA5MjVmZGZkZmUwMjMzODViYTIzMzEzNzA5ZDAwNzJiYTQ0OGNkY2VlZjNhZTFmYjM4Y2QxMTgwYjVlYzciLCJpYXQiOjE3NTE0MjQ0NTYuNTE1MjA5LCJuYmYiOjE3NTE0MjQ0NTYuNTE1MjExLCJleHAiOjQ5MDcwOTgwNTYuNDk0NzI3LCJzdWIiOiI3MjM0MTE5NSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.J_6-HzY0bcddTltrexr_Sq2GpEAqxQ9mqlWxpH47KGHWofu32TF8viisNQ4kT0MglEdbSNxfOJR46vWl7TD2rd6iG5LqLTfm75i1lMfxg3B09bWoXtQ6JYUd7TAESCOPPnmZ4l76QP2x5e-SX7k6-nnH-Vvwgv-Awa14EefzEcphjb0RP9tTiHqgVKD9h4R0Jxc2REHG9jr7kVAZKWvSVhzo6HOsW88UbYsIx9bMGJjKLgvKlD2I--6spIalkZrY5IYsJppBwo1Fiwpx3zKXn7yzSmiawKXpGLh6fJHUukdd2YStTPnNhS3oyuJvi1bwKGdakXBY8Z-fESr08RCOx0BgvD3WNue6D06-OBDkMDsgeoQeZ7LMoahM7oxDTqBJvemS3NkVXPpyDTjktOdysAhuiCNfDaZqATTwYBZ0oHp4LOcfMlFtVxvpsO6s9OE3Zb0z8vm-O7cx_e-9AkOuEeUTosHM02u-CsZX1CQf2mM9huxELzLut2HWxiXP1mvW1QIiAP2oCKDqQB6NrV60hEcR9b298LEKI-FuvWJU6KN2BV1qtF-MbYCjk3mIvhv8Qf4FOrEfAc2VcbdPnBTnOv0Bg34_0WXXXuHic62j_j-OBD3Eitm1WZcs6zPhg6ra-PxIDCAdlqFJalv5bvN25Vq7HlvG5_GHe8tNJu3kp1o"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/url\",\n      \"url\": \"{{ $json.videoUrl }}\"\n    },\n    \"convert-my-file\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"input_format\": \"mp4\",\n      \"output_format\": \"mp3\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-my-file\"\n    }\n  },\n  \"redirect\": true\n} ",
        "options": {}
      },
      "id": "9abe309b-9809-4569-a0bd-619f000bf702",
      "name": "Mp4 to Mp3 Cloud Convert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        80
      ],
      "id": "4074b919-2c2d-478c-935b-caf90baaa98d",
      "name": "Code2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "7f95505d-fa3c-467f-81b5-55d95e5dd88e",
      "name": "Transcribe Audio to Script (GPT)1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1632,
        80
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Clear, descriptive title in format: '[Industry/Topic] - [Main Hook/Angle] by @[Author]'\"\n    },\n    \"overview\": {\n      \"type\": \"string\", \n      \"description\": \"2-3 sentence summary covering ad type, main topic, value proposition, and target audience\"\n    }\n  },\n  \"required\": [\n    \"title\", \n    \"overview\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2224,
        240
      ],
      "id": "4d10f9c3-7685-4a20-a5b3-dd26a6563ff9",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1968,
        256
      ],
      "id": "36da7332-8a9c-40cd-9d3c-23083b098a72",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= TItle : \n{{ $('Get Video File Apify').item.json.caption }}\n\nAUthor Nickname/Owner:\n{{ $('Get Video File Apify').item.json.ownerFullName }}\n\nInstagram Video Transcript:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert competitor ad analyzer specializing in Instagram ads content analysis. Your job is to analyze Instagram competitor ads to extract key information for the competitor ads database.\n\nYou will receive:\n- Instagram title from the original post\n- Author nickname who created the content\n- Full transcript of the Instagram video\n\nYour task is to create:\n\n**TITLE**: Create a clear, descriptive title that makes this ad easily identifiable in a database. Format: \"[Industry/Topic] - [Main Hook/Angle] by @[Author]\"\n\nExamples:\n- \"Agency Scaling - Cold Email Framework by @marketingguru\"\n- \"SaaS Onboarding - Customer Retention Strategy by @techfounder\"  \n- \"E-commerce - Product Launch Formula by @dropshipking\"\n- \"Recruitment - AI Hiring Process by @hrtech\"\n- \"Coaching - 6-Figure Framework by @bizcoach\"\n\n**OVERVIEW**: Write a 2-3 sentence summary that covers:\n- What type of ad this is (educational, promotional, case study, testimonial, etc.)\n- Main topic or strategy being discussed\n- Key value proposition or outcome promised\n- Target audience being addressed (agencies, SaaS, e-commerce, coaches, etc.)\n\nFocus on making the title searchable and the overview informative so the AI agent can easily present options to users and understand what each competitor ad offers.\n\nRemember: This is analyzing WINNING competitor ads (running 6+ weeks), so focus on what makes them appealing and successful. Extract the core value proposition and target market clearly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2016,
        80
      ],
      "id": "0ee67504-14f1-4a3d-88b5-0204176c12b6",
      "name": "Script Framework AI agent2"
    },
    {
      "parameters": {
        "tableId": "egp-ads-ai-everything-v3",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Mp4 to Mp3 Cloud Convert1').item.json.output.title }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $('Transcribe Audio to Script (GPT)1').item.json.text }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Get Video File Apify').item.json.inputUrl }}"
            },
            {
              "fieldId": "overview",
              "fieldValue": "={{ $('Mp4 to Mp3 Cloud Convert1').item.json.output.overview }}"
            },
            {
              "fieldId": "document-type",
              "fieldValue": "=Instagram - {{ $('On form submission').item.json['File Type'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2752,
        80
      ],
      "id": "0da50235-0e46-4237-bfe1-6f5a38764432",
      "name": "Create a row1",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5089cc47-7e0e-4a5e-b7bb-f5f08818386c",
              "name": "ad_id",
              "value": "=https://www.facebook.com/ads/library/?id={{ $json['Instagram URL or Facebook Ads ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        560
      ],
      "id": "ae115cae-8832-4e60-be38-feb6ffe6a853",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.ad_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        560
      ],
      "id": "b2c34936-6475-4816-8b9b-72688f02dc1e",
      "name": "Get Video"
    },
    {
      "parameters": {
        "jsCode": "// n8n compatible version - processes input items and returns properly formatted output\nfunction processData(items) {\n  // Create a new array to hold the processed items\n  return items.map(item => {\n    const htmlData = item.json.data || item.json.html || JSON.stringify(item.json);\n    \n    try {\n      // Find the start of the JSON data\n      const jsonStartIndex = htmlData.indexOf('\"archiveTypes\"');\n      if (jsonStartIndex === -1) {\n        // Return the original item with an error message\n        return {\n          json: {\n            ...item.json,\n            sdVideoUrl: null,\n            error: \"Could not find video data\"\n          }\n        };\n      }\n      \n      // Create a valid JSON string by adding braces around it\n      const jsonString = '{' + htmlData.substring(jsonStartIndex);\n      \n      // Find the videos array\n      const videosStartIndex = jsonString.indexOf('\"videos\":[');\n      if (videosStartIndex === -1) {\n        return {\n          json: {\n            ...item.json,\n            sdVideoUrl: null,\n            error: \"No videos array found\"\n          }\n        };\n      }\n      \n      // Extract the SD video URL using regex\n      const sdUrlRegex = /\"video_sd_url\":\"([^\"]+)\"/;\n      const match = jsonString.match(sdUrlRegex);\n      \n      if (match && match[1]) {\n        // Unescape the URL\n        const sdVideoUrl = match[1].replace(/\\\\\\//g, '/');\n        \n        // Return the original item plus the extracted URL\n        return {\n          json: {\n            ...item.json,\n            sdVideoUrl: sdVideoUrl\n          }\n        };\n      } else {\n        return {\n          json: {\n            ...item.json,\n            sdVideoUrl: null,\n            error: \"SD video URL not found\"\n          }\n        };\n      }\n    } catch (error) {\n      // Return the original item with the error\n      return {\n        json: {\n          ...item.json,\n          sdVideoUrl: null,\n          error: error.message\n        }\n      };\n    }\n  });\n}\n\n// This is what n8n expects\nreturn processData($input.all());"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        560
      ],
      "id": "c5fa78c9-6ce8-4bfc-8839-eada43b6c8d3",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sync.api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDI0NDlkN2JkYThkYzhhOTlmYzA5MjVmZGZkZmUwMjMzODViYTIzMzEzNzA5ZDAwNzJiYTQ0OGNkY2VlZjNhZTFmYjM4Y2QxMTgwYjVlYzciLCJpYXQiOjE3NTE0MjQ0NTYuNTE1MjA5LCJuYmYiOjE3NTE0MjQ0NTYuNTE1MjExLCJleHAiOjQ5MDcwOTgwNTYuNDk0NzI3LCJzdWIiOiI3MjM0MTE5NSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.J_6-HzY0bcddTltrexr_Sq2GpEAqxQ9mqlWxpH47KGHWofu32TF8viisNQ4kT0MglEdbSNxfOJR46vWl7TD2rd6iG5LqLTfm75i1lMfxg3B09bWoXtQ6JYUd7TAESCOPPnmZ4l76QP2x5e-SX7k6-nnH-Vvwgv-Awa14EefzEcphjb0RP9tTiHqgVKD9h4R0Jxc2REHG9jr7kVAZKWvSVhzo6HOsW88UbYsIx9bMGJjKLgvKlD2I--6spIalkZrY5IYsJppBwo1Fiwpx3zKXn7yzSmiawKXpGLh6fJHUukdd2YStTPnNhS3oyuJvi1bwKGdakXBY8Z-fESr08RCOx0BgvD3WNue6D06-OBDkMDsgeoQeZ7LMoahM7oxDTqBJvemS3NkVXPpyDTjktOdysAhuiCNfDaZqATTwYBZ0oHp4LOcfMlFtVxvpsO6s9OE3Zb0z8vm-O7cx_e-9AkOuEeUTosHM02u-CsZX1CQf2mM9huxELzLut2HWxiXP1mvW1QIiAP2oCKDqQB6NrV60hEcR9b298LEKI-FuvWJU6KN2BV1qtF-MbYCjk3mIvhv8Qf4FOrEfAc2VcbdPnBTnOv0Bg34_0WXXXuHic62j_j-OBD3Eitm1WZcs6zPhg6ra-PxIDCAdlqFJalv5bvN25Vq7HlvG5_GHe8tNJu3kp1o"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/url\",\n      \"url\": \"{{ $json.sdVideoUrl }}\"\n    },\n    \"convert-my-file\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"input_format\": \"mp4\",\n      \"output_format\": \"mp3\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-my-file\"\n    }\n  },\n  \"redirect\": true\n} ",
        "options": {}
      },
      "id": "872ed892-907d-4ead-a8c1-38210d38df07",
      "name": "Convert to MP3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        560
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "5f0caee3-43d1-4a4f-a8d2-7a4cf8fdf6b8",
      "name": "Transcribe Audio to Script (GPT)2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1968,
        560
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Clear, descriptive title in format: '[Industry/Topic] - [Main Hook/Angle] by @[Author]'\"\n    },\n    \"overview\": {\n      \"type\": \"string\", \n      \"description\": \"2-3 sentence summary covering ad type, main topic, value proposition, and target audience\"\n    }\n  },\n  \"required\": [\n    \"title\", \n    \"overview\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2368,
        720
      ],
      "id": "1e29bacf-da2d-44b4-8730-26d482992e1e",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2112,
        736
      ],
      "id": "0b324a2d-90ed-47fb-aff6-b56d2b42db57",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Facebook Video Transcript:\n{{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert competitor ad analyzer specializing in Facebook ads content analysis. Your job is to analyze Facebook competitor ads to extract key information for the competitor ads database.\n\nYou will receive:\n- Facebook title from the original post\n- Author nickname who created the content\n- Full transcript of the Facebook video\n\nYour task is to create:\n\n**TITLE**: Create a clear, descriptive title that makes this ad easily identifiable in a database. Format: \"[Industry/Topic] - [Main Hook/Angle] by @[Author]\"\n\nExamples:\n- \"Agency Scaling - Cold Email Framework by @marketingguru\"\n- \"SaaS Onboarding - Customer Retention Strategy by @techfounder\"  \n- \"E-commerce - Product Launch Formula by @dropshipking\"\n- \"Recruitment - AI Hiring Process by @hrtech\"\n- \"Coaching - 6-Figure Framework by @bizcoach\"\n\n**OVERVIEW**: Write a 2-3 sentence summary that covers:\n- What type of ad this is (educational, promotional, case study, testimonial, etc.)\n- Main topic or strategy being discussed\n- Key value proposition or outcome promised\n- Target audience being addressed (agencies, SaaS, e-commerce, coaches, etc.)\n\nFocus on making the title searchable and the overview informative so the AI agent can easily present options to users and understand what each competitor ad offers.\n\nRemember: This is analyzing WINNING competitor ads (running 6+ weeks), so focus on what makes them appealing and successful. Extract the core value proposition and target market clearly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2160,
        560
      ],
      "id": "be9fde43-2fed-4cf5-b7d0-5a3f9c0990cd",
      "name": "Script Framework AI agent3"
    },
    {
      "parameters": {
        "tableId": "egp-ads-ai-everything-v3",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $('Transcribe Audio to Script (GPT)2').item.json.text }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('Parse Video URL').item.json.sdVideoUrl }}"
            },
            {
              "fieldId": "overview",
              "fieldValue": "={{ $json.output.overview }}"
            },
            {
              "fieldId": "document-type",
              "fieldValue": "=Facebook -  {{ $('On form submission').item.json['File Type'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2512,
        560
      ],
      "id": "a9a662fe-9805-499f-b61d-dbaea3366d28",
      "name": "Create a row2",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Ads Type'] }}",
                    "rightValue": "Instagram URL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "feb9f9e7-01ee-40c4-8598-b78182469b95"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram URL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e793d78f-dff7-4059-8480-6b7ea1d97853",
                    "leftValue": "={{ $json['Ads Type'] }}",
                    "rightValue": "Facebook Ads ID",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Facebook Ads ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        896,
        352
      ],
      "id": "ccb92d0d-54ee-43b6-ba77-280f4d7fbae6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The exact filename as provided, unchanged\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Clear, descriptive title following format: '[Strategy/Method] for [Target Audience] - [Key Outcome/Benefit]'\"\n    },\n    \"overview\": {\n      \"type\": \"string\", \n      \"description\": \"2-3 sentence summary covering content type, main topic/strategy, and key outcome or transformation\"\n    }\n  },\n  \"required\": [\n    \"source\", \n    \"title\",\n    \"overview\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1968,
        -576
      ],
      "id": "0032db7d-be2b-43e1-9240-ed335893ce1d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1776,
        -576
      ],
      "id": "7ca58682-bd3e-49c4-80fb-1e46c3139337",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FIle Name/Source Name: {{ $('Ad Accelerator Transcripts').item.json['Ads Training Data'].filename }}\n\nText content of the pdf:\n{{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=PROMPT:\nYou are an expert ad script framework analyzer. Your job is to analyze winning ad scripts, VSL transcripts, and sales call transcripts to create clear titles and business summaries.\n\nYou will receive:\n- Source filename \n- Title/description provided by user\n- Full transcript content (ad scripts, VSL transcripts, or course call transcripts)\n\nYour task is to analyze the content and extract:\n\n**TITLE**: Create a clear, descriptive title that captures:\n- The main topic/strategy being discussed\n- The target audience/industry\n- The key outcome or benefit promised\n- Format: \"[Strategy/Method] for [Target Audience] - [Key Outcome/Benefit]\"\n\n**OVERVIEW**: Write a 2-3 sentence business summary covering:\n- What type of content this is (ad script, VSL transcript, course call, etc.)\n- Main topic/angle/strategy discussed  \n- Key outcome, result, or transformation being promoted\n\nFocus on creating titles and summaries that would help someone quickly understand what this content is about and whether it's relevant to their business or industry.\n\nBe precise and clear - this data will be used to help organize and categorize winning ad content for future reference."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1776,
        -736
      ],
      "id": "bd69ee68-25d4-463c-9c44-2f92d657e3bf",
      "name": "Script Framework AI agent"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced code node for EGP AI transcript processing\n// Get the extracted data from the Extract from File node\nconst items = $input.all();\nconst item = items[0];\n\n// Extract the transcript data from the text extraction\nconst extractedData = item.json;\nconst transcriptText = extractedData.data || '';\n\n// Get the filename from the Ads Training Data node\nconst fileName = $('Ad Accelerator Transcripts').first().json[\"Ads Training Data\"].filename;\nconst triggerData = $('On form submission').item.json;\nconst userTitle = triggerData[\"Title/Source Name\"] || '';\nconst creationDate = new Date().toISOString();\n\n// ... rest of the code stays the same\n\nif (!transcriptText) {\n  throw new Error('No text content extracted from file');\n}\n\n// Create source name - use user title if provided, otherwise filename\nconst sourceName = userTitle.trim() || fileName;\n\n// Extract basic info about the transcript\nfunction analyzeTranscriptType(text) {\n  const content = text.toLowerCase();\n  \n  // Determine format type\n  let format = 'Course transcript';\n  if (content.includes('vsl') || content.includes('video sales letter')) format = 'VSL';\n  if (content.includes('ad copy') || content.includes('facebook ad')) format = 'Static ad';\n  if (content.includes('sales call') || content.includes('discovery call')) format = 'Sales call';\n  \n  // Determine industry\n  let industry = 'General business';\n  if (content.includes('agency') || content.includes('smma')) industry = 'Marketing agencies';\n  if (content.includes('recruitment') || content.includes('hiring')) industry = 'Recruitment';\n  if (content.includes('ecommerce') || content.includes('e-commerce')) industry = 'E-commerce';\n  if (content.includes('saas') || content.includes('software')) industry = 'SaaS';\n  if (content.includes('coaching') || content.includes('consultant')) industry = 'Coaches/consultants';\n  \n  return { format, industry };\n}\n\nconst transcriptAnalysis = analyzeTranscriptType(transcriptText);\n\n// CHUNKING FUNCTION - Split text into optimal chunks\nfunction chunkText(text, maxChunkSize = 1500, overlap = 200) {\n  const chunks = [];\n  const sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 0);\n  \n  let currentChunk = '';\n  let currentSize = 0;\n  \n  for (const sentence of sentences) {\n    const sentenceLength = sentence.trim().length;\n    \n    // If adding this sentence would exceed max size, save current chunk\n    if (currentSize + sentenceLength > maxChunkSize && currentChunk.length > 0) {\n      chunks.push(currentChunk.trim());\n      \n      // Start new chunk with overlap from end of previous chunk\n      const words = currentChunk.split(' ');\n      const overlapWords = words.slice(-Math.floor(overlap / 6)); // Rough word estimate\n      currentChunk = overlapWords.join(' ') + ' ' + sentence.trim();\n      currentSize = currentChunk.length;\n    } else {\n      currentChunk += (currentChunk ? '. ' : '') + sentence.trim();\n      currentSize = currentChunk.length;\n    }\n  }\n  \n  // Add the final chunk\n  if (currentChunk.trim().length > 0) {\n    chunks.push(currentChunk.trim());\n  }\n  \n  return chunks;\n}\n\n// Create the base content without source prefix (for chunking)\nconst baseContent = `Date: ${creationDate}\nType: ${transcriptAnalysis.format}\nIndustry: ${transcriptAnalysis.industry}\nTitle: ${userTitle}\n\nTRANSCRIPT CONTENT:\n${transcriptText}`.trim();\n\n// Chunk the content\nconst chunks = chunkText(baseContent, 1500, 200);\n\n// Create metadata template\nconst baseMetadata = {\n  document_type: \"ad_script_transcript\",\n  source_file: fileName,\n  source_name: sourceName,\n  user_title: userTitle,\n  upload_date: new Date().toISOString(),\n  creation_date: creationDate,\n  transcript_type: transcriptAnalysis.format,\n  industry: transcriptAnalysis.industry,\n  data_version: \"1.0\",\n  file_type: \"text\",\n  text_length: transcriptText.length,\n  chunk_count: chunks.length\n};\n\n// Create output array - one item per chunk, each with source prefix\nconst outputChunks = chunks.map((chunk, index) => {\n  // Add source prefix to EVERY chunk (this is what makes it searchable)\n  const sourcePrefix = `SOURCE: ${sourceName}\\n\\n`;\n  const contentWithSource = sourcePrefix + chunk;\n  \n  // Add chunk-specific metadata\n  const chunkMetadata = {\n    ...baseMetadata,\n    chunk_index: index + 1,\n    total_chunks: chunks.length,\n    chunk_summary: chunk.substring(0, 200) + '...' // First 200 chars as summary\n  };\n  \n  return {\n    content: contentWithSource,\n    metadata: chunkMetadata\n  };\n});\n\n// Return array of chunks - each will be processed separately in the loop\nreturn outputChunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        -416
      ],
      "id": "09031a3b-ca17-4998-aa9e-5a148f306555",
      "name": "Code"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "id": "7f8fb481-d596-41d5-af38-cffcb63ff470",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2304,
        -272
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "d3574b60-36ff-4fb3-9b45-8bb7449bbeb8",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2416,
        -160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2128,
        -240
      ],
      "id": "48d760a4-75c8-41c2-90a2-8b7f9b6df254",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "egpadsv3rag",
          "mode": "list",
          "cachedResultName": "egpadsv3rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2192,
        -416
      ],
      "id": "37fa7ea2-0de1-4079-a469-c362ec0ad4e8",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1968,
        -416
      ],
      "id": "30fa2379-a0ae-44da-844e-71ddabe0c509",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2512,
        -416
      ],
      "id": "4d6a92c6-3731-4154-b998-24f7c60cf4e0",
      "name": "Wait",
      "webhookId": "c3473047-82b0-4eb4-8ef3-63a1301c7ee0"
    },
    {
      "parameters": {
        "content": "## Ads Training Transcript Route",
        "height": 760,
        "width": 1520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -784
      ],
      "id": "7a7ffcf2-9a59-459b-9ff8-faec10ed2331",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Ads_Training_Data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1424,
        -576
      ],
      "id": "b72173dd-99f5-40b8-9f11-17bc4e0da04d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "tableId": "egp-ads-ai-everything-v3",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "Transcript is Chunked in the rag table"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "overview",
              "fieldValue": "={{ $json.output.overview }}"
            },
            {
              "fieldId": "document-type",
              "fieldValue": "Ads Training Transcript"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2144,
        -736
      ],
      "id": "88b20119-e93e-4aa5-85a6-cd4b7bd6f3c3",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"source\": {\n      \"type\": \"string\",\n      \"description\": \"The exact filename as provided, unchanged\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Clear, descriptive title following format: '[Strategy/Method] for [Target Audience] - [Key Outcome/Benefit]'\"\n    },\n    \"overview\": {\n      \"type\": \"string\", \n      \"description\": \"2-3 sentence summary covering content type, main topic/strategy, and key outcome or transformation\"\n    }\n  },\n  \"required\": [\n    \"source\", \n    \"title\",\n    \"overview\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1952,
        -1376
      ],
      "id": "3ad52e9e-05ff-4fa7-be13-5889fea2fe98",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        -1376
      ],
      "id": "41f269bc-de88-476f-8fdb-ac0f9d18732c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=FIle Name/Source Name: \n{{ $('Sales Call').item.json['Sales Call File'].filename }}\nText content of the pdf:\n{{ $json.data }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=PROMPT:\nYou are an expert Sales call analyzer. Your job is to analyze winning ad scripts, VSL transcripts, and sales call transcripts to create clear titles and business summaries.\n\nYou will receive:\n- Source filename \n- Title/description provided by user\n- Full transcript content (ad scripts, VSL transcripts, or course call transcripts)\n\nYour task is to analyze the content and extract:\n\n**TITLE**: Create a clear, descriptive title that captures:\n- The main topic/strategy being discussed\n- The target audience/industry\n- The key outcome or benefit promised\n- Format: \"[Strategy/Method] for [Target Audience] - [Key Outcome/Benefit]\"\n\n**OVERVIEW**: Write a 2-3 sentence business summary covering:\n- What type of content this is (ad script, VSL transcript, course call, etc.)\n- Main topic/angle/strategy discussed  \n- Key outcome, result, or transformation being promoted\n\nFocus on creating titles and summaries that would help someone quickly understand what this content is about and whether it's relevant to their business or industry.\n\nBe precise and clear - this data will be used to help organize and categorize winning ad content for future reference."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1760,
        -1536
      ],
      "id": "20965d01-ba37-4190-a337-55f5cb37d840",
      "name": "Script Framework AI agent1"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced code node for EGP AI transcript processing\n// Get the extracted data from the Extract from File node\nconst items = $input.all();\nconst item = items[0];\n\n// Extract the transcript data from the text extraction\nconst extractedData = item.json;\nconst transcriptText = extractedData.data || '';\n\n// Get the filename from the Ads Training Data node\nconst fileName = $('Sales Call').first().json['Sales Call File'].filename;\nconst triggerData = $('On form submission').item.json;\nconst userTitle = triggerData[\"Title/Source Name\"] || '';\nconst creationDate = new Date().toISOString();\n\n// ... rest of the code stays the same\n\nif (!transcriptText) {\n  throw new Error('No text content extracted from file');\n}\n\n// Create source name - use user title if provided, otherwise filename\nconst sourceName = userTitle.trim() || fileName;\n\n// Extract basic info about the transcript\nfunction analyzeTranscriptType(text) {\n  const content = text.toLowerCase();\n  \n  // Determine format type\n  let format = 'Course transcript';\n  if (content.includes('vsl') || content.includes('video sales letter')) format = 'VSL';\n  if (content.includes('ad copy') || content.includes('facebook ad')) format = 'Static ad';\n  if (content.includes('sales call') || content.includes('discovery call')) format = 'Sales call';\n  \n  // Determine industry\n  let industry = 'General business';\n  if (content.includes('agency') || content.includes('smma')) industry = 'Marketing agencies';\n  if (content.includes('recruitment') || content.includes('hiring')) industry = 'Recruitment';\n  if (content.includes('ecommerce') || content.includes('e-commerce')) industry = 'E-commerce';\n  if (content.includes('saas') || content.includes('software')) industry = 'SaaS';\n  if (content.includes('coaching') || content.includes('consultant')) industry = 'Coaches/consultants';\n  \n  return { format, industry };\n}\n\nconst transcriptAnalysis = analyzeTranscriptType(transcriptText);\n\n// CHUNKING FUNCTION - Split text into optimal chunks\nfunction chunkText(text, maxChunkSize = 1500, overlap = 200) {\n  const chunks = [];\n  const sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 0);\n  \n  let currentChunk = '';\n  let currentSize = 0;\n  \n  for (const sentence of sentences) {\n    const sentenceLength = sentence.trim().length;\n    \n    // If adding this sentence would exceed max size, save current chunk\n    if (currentSize + sentenceLength > maxChunkSize && currentChunk.length > 0) {\n      chunks.push(currentChunk.trim());\n      \n      // Start new chunk with overlap from end of previous chunk\n      const words = currentChunk.split(' ');\n      const overlapWords = words.slice(-Math.floor(overlap / 6)); // Rough word estimate\n      currentChunk = overlapWords.join(' ') + ' ' + sentence.trim();\n      currentSize = currentChunk.length;\n    } else {\n      currentChunk += (currentChunk ? '. ' : '') + sentence.trim();\n      currentSize = currentChunk.length;\n    }\n  }\n  \n  // Add the final chunk\n  if (currentChunk.trim().length > 0) {\n    chunks.push(currentChunk.trim());\n  }\n  \n  return chunks;\n}\n\n// Create the base content without source prefix (for chunking)\nconst baseContent = `Date: ${creationDate}\nType: ${transcriptAnalysis.format}\nIndustry: ${transcriptAnalysis.industry}\nTitle: ${userTitle}\n\nTRANSCRIPT CONTENT:\n${transcriptText}`.trim();\n\n// Chunk the content\nconst chunks = chunkText(baseContent, 1500, 200);\n\n// Create metadata template\nconst baseMetadata = {\n  document_type: \"ad_script_transcript\",\n  source_file: fileName,\n  source_name: sourceName,\n  user_title: userTitle,\n  upload_date: new Date().toISOString(),\n  creation_date: creationDate,\n  transcript_type: transcriptAnalysis.format,\n  industry: transcriptAnalysis.industry,\n  data_version: \"1.0\",\n  file_type: \"text\",\n  text_length: transcriptText.length,\n  chunk_count: chunks.length\n};\n\n// Create output array - one item per chunk, each with source prefix\nconst outputChunks = chunks.map((chunk, index) => {\n  // Add source prefix to EVERY chunk (this is what makes it searchable)\n  const sourcePrefix = `SOURCE: ${sourceName}\\n\\n`;\n  const contentWithSource = sourcePrefix + chunk;\n  \n  // Add chunk-specific metadata\n  const chunkMetadata = {\n    ...baseMetadata,\n    chunk_index: index + 1,\n    total_chunks: chunks.length,\n    chunk_summary: chunk.substring(0, 200) + '...' // First 200 chars as summary\n  };\n  \n  return {\n    content: contentWithSource,\n    metadata: chunkMetadata\n  };\n});\n\n// Return array of chunks - each will be processed separately in the loop\nreturn outputChunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -1216
      ],
      "id": "b0885bf3-c773-4835-823c-cf0c4de52cb5",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "id": "6fac46fc-3df2-4062-b98e-539bd31e34a1",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2272,
        -1040
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "464ef902-4556-4b95-9a99-d5b7908af7cc",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2528,
        -944
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2112,
        -1040
      ],
      "id": "30676b6b-1c06-4934-a52a-abdd1915e552",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "tCvTdax0L9VqRTsc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "egpadsv3rag",
          "mode": "list",
          "cachedResultName": "egpadsv3rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        2176,
        -1216
      ],
      "id": "481f2785-24fe-442b-9487-1659ea158337",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        -1216
      ],
      "id": "84401a78-7634-4c92-8644-51278dbb520a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2496,
        -1216
      ],
      "id": "e183d878-57c0-463f-aa1f-a4dd9414261d",
      "name": "Wait1",
      "webhookId": "c3473047-82b0-4eb4-8ef3-63a1301c7ee0"
    },
    {
      "parameters": {
        "content": "## Sales Call",
        "height": 760,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -1584
      ],
      "id": "6c4e1000-5f2c-4d85-b04c-049adde0ffdf",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Sales_Call_File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1408,
        -1376
      ],
      "id": "762c5c1b-5d38-4a77-89e4-623574ab1e1f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "tableId": "egp-ads-ai-everything-v3",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "Transcript is Chunked in the rag table"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.output.source }}"
            },
            {
              "fieldId": "overview",
              "fieldValue": "={{ $json.output.overview }}"
            },
            {
              "fieldId": "document-type",
              "fieldValue": "Sales Call Transcript"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2128,
        -1536
      ],
      "id": "6ee3128e-1ccf-4ec9-b0e6-dc2f007622a3",
      "name": "Create a row3",
      "credentials": {
        "supabaseApi": {
          "id": "ZoTxVfodrexySnpY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Ads Training Data",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "customCss": ":root {\n\t--font-family: 'Inter', 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-medium: 500;\n\t--font-weight-bold: 600;\n\t--font-weight-extra-bold: 700;\n\t\n\t/* Enhanced Font Sizes */\n\t--font-size-body: 14px;\n\t--font-size-label: 15px;\n\t--font-size-test-notice: 13px;\n\t--font-size-input: 15px;\n\t--font-size-header: 32px;\n\t--font-size-paragraph: 16px;\n\t--font-size-link: 13px;\n\t--font-size-error: 13px;\n\t--font-size-html-h1: 32px;\n\t--font-size-html-h2: 24px;\n\t--font-size-html-h3: 20px;\n\t--font-size-html-h4: 16px;\n\t--font-size-html-h5: 14px;\n\t--font-size-html-h6: 12px;\n\t--font-size-subheader: 16px;\n\t--font-size-field-description: 13px;\n\t\n\t/* Modern Color Palette */\n\t--color-background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-test-notice-text: #f59e0b;\n\t--color-test-notice-bg: #fffbeb;\n\t--color-test-notice-border: #fde68a;\n\t--color-card-bg: rgba(255, 255, 255, 0.95);\n\t--color-card-border: rgba(255, 255, 255, 0.2);\n\t--color-card-shadow: rgba(0, 0, 0, 0.1);\n\t--color-link: #6366f1;\n\t--color-header: #1f2937;\n\t--color-label: #374151;\n\t--color-input-border: #e5e7eb;\n\t--color-input-text: #1f2937;\n\t--color-focus-border: #6366f1;\n\t--color-submit-btn-bg: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ef4444;\n\t--color-required: #ef4444;\n\t--color-clear-button-bg: #6b7280;\n\t--color-html-text: #374151;\n\t--color-html-link: #6366f1;\n\t--color-header-subtext: #6b7280;\n\t--color-field-description: #6b7280;\n\t--color-upload-area: #f8fafc;\n\t--color-upload-border: #cbd5e1;\n\t--color-upload-hover: #f1f5f9;\n\t\n\t/* Enhanced Border Radii */\n\t--border-radius-card: 16px;\n\t--border-radius-input: 12px;\n\t--border-radius-clear-btn: 50%;\n\t--border-radius-submit: 12px;\n\t--card-border-radius: 16px;\n\t\n\t/* Enhanced Spacing */\n\t--padding-container-top: 40px;\n\t--padding-card: 32px;\n\t--padding-test-notice-vertical: 16px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 20px;\n\t--padding-form-input: 16px;\n\t--card-padding: 32px;\n\t--card-margin-bottom: 24px;\n\t--spacing-field-gap: 24px;\n\t--spacing-label-margin: 8px;\n\t\n\t/* Enhanced Dimensions */\n\t--container-width: 520px;\n\t--submit-btn-height: 52px;\n\t--checkbox-size: 20px;\n\t--upload-area-min-height: 120px;\n\t\n\t/* Enhanced Effects */\n\t--box-shadow-card: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);\n\t--box-shadow-hover: 0 25px 50px -12px rgba(0, 0, 0, 0.25);\n\t--opacity-placeholder: 0.6;\n\t--transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);\n\t--backdrop-blur: blur(20px);\n}\n\n/* Enhanced Container */\n.form-container {\n\tbackground: var(--color-background);\n\tmin-height: 100vh;\n\tpadding: var(--padding-container-top);\n\tbackdrop-filter: var(--backdrop-blur);\n}\n\n/* Enhanced Card */\n.form-card {\n\tbackground: var(--color-card-bg);\n\tbackdrop-filter: var(--backdrop-blur);\n\tborder: 1px solid var(--color-card-border);\n\tborder-radius: var(--border-radius-card);\n\tbox-shadow: var(--box-shadow-card);\n\tpadding: var(--padding-card);\n\tmargin-bottom: var(--margin-bottom-card);\n\ttransition: var(--transition-smooth);\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n}\n\n.form-card:hover {\n\tbox-shadow: var(--box-shadow-hover);\n\ttransform: translateY(-2px);\n}\n\n/* Enhanced Headers */\n.form-header {\n\tfont-size: var(--font-size-header);\n\tfont-weight: var(--font-weight-extra-bold);\n\tcolor: #1f2937;\n\tmargin-bottom: 12px;\n\ttext-align: center;\n}\n\n.form-description {\n\tfont-size: var(--font-size-paragraph);\n\tcolor: #1f2937 !important;\n\ttext-align: center;\n\tmargin-bottom: 32px;\n\tline-height: 1.6;\n}\n\n/* Additional selectors to ensure description text matches title color */\n.form-card p,\n.form-container p {\n\tcolor: #1f2937 !important;\n}\n\n/* Enhanced Form Fields */\n.form-field {\n\tmargin-bottom: var(--spacing-field-gap);\n}\n\n.form-label {\n\tfont-size: var(--font-size-label);\n\tfont-weight: var(--font-weight-medium);\n\tcolor: var(--color-label);\n\tmargin-bottom: var(--spacing-label-margin);\n\tdisplay: block;\n}\n\n/* Add field descriptions */\n.form-field-description {\n\tfont-size: var(--font-size-field-description);\n\tcolor: var(--color-field-description);\n\tmargin-top: 6px;\n\tmargin-bottom: 16px;\n\tline-height: 1.5;\n\tfont-style: italic;\n\topacity: 0.8;\n}\n\n/* Style for TikTok URL input */\ninput[type=\"text\"],\ninput[type=\"url\"] {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\ninput[type=\"text\"]:focus,\ninput[type=\"url\"]:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced Input Styles */\n.form-input {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 2px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-size: var(--font-size-input);\n\tfont-family: var(--font-family);\n\tcolor: var(--color-input-text);\n\tbackground-color: #ffffff;\n\ttransition: var(--transition-smooth);\n}\n\n.form-input:focus {\n\toutline: none;\n\tborder-color: var(--color-focus-border);\n\tbox-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);\n}\n\n/* Enhanced File Upload Area */\n.file-upload-area,\ninput[type=\"file\"] {\n\tborder: 2px dashed var(--color-upload-border);\n\tborder-radius: var(--border-radius-input);\n\tbackground-color: var(--color-upload-area);\n\tmin-height: var(--upload-area-min-height);\n\tpadding: var(--padding-form-input);\n\ttransition: var(--transition-smooth);\n\tcursor: pointer;\n\twidth: 100%;\n\tfont-family: var(--font-family);\n}\n\n.file-upload-area:hover,\ninput[type=\"file\"]:hover {\n\tbackground-color: var(--color-upload-hover);\n\tborder-color: var(--color-focus-border);\n}\n\n/* Style the file input properly */\ninput[type=\"file\"] {\n\tcolor: var(--color-input-text);\n\tfont-size: var(--font-size-input);\n}\n\ninput[type=\"file\"]::file-selector-button {\n\tbackground: #1f2937 !important;\n\tcolor: white !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: 8px;\n\tpadding: 10px 20px;\n\tmargin-right: 12px;\n\tcursor: pointer;\n\tfont-weight: var(--font-weight-medium);\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;\n}\n\ninput[type=\"file\"]::file-selector-button:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-1px);\n\tbox-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Submit Button */\n.submit-btn,\nbutton[type=\"submit\"],\ninput[type=\"submit\"] {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground: #1f2937 !important;\n\tcolor: #ffffff !important;\n\tborder: 2px solid #374151 !important;\n\tborder-radius: var(--border-radius-submit);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-medium);\n\tfont-family: var(--font-family);\n\tcursor: pointer;\n\ttransition: var(--transition-smooth);\n\tbox-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2) !important;\n\tmargin-top: 24px;\n}\n\n.submit-btn:hover,\nbutton[type=\"submit\"]:hover,\ninput[type=\"submit\"]:hover {\n\tbackground: #374151 !important;\n\tborder-color: #4b5563 !important;\n\ttransform: translateY(-2px);\n\tbox-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.3) !important;\n}\n\n/* Enhanced Pro Tip */\n.pro-tip {\n\tbackground: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%);\n\tborder: 1px solid #f59e0b;\n\tborder-radius: var(--border-radius-input);\n\tpadding: 16px;\n\tmargin-top: 24px;\n\tfont-size: var(--font-size-field-description);\n\tcolor: #92400e;\n\tdisplay: flex;\n\talign-items: center;\n\tgap: 8px;\n}\n\n.pro-tip::before {\n\tcontent: \"💡\";\n\tfont-size: 18px;\n}\n\n/* Responsive Design */\n@media (max-width: 640px) {\n\t:root {\n\t\t--container-width: 100%;\n\t\t--padding-card: 24px;\n\t\t--font-size-header: 28px;\n\t}\n\t\n\t.form-container {\n\t\tpadding: 20px;\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        528,
        -80
      ],
      "id": "ee53234d-bf02-4fbd-96cf-e9ecee3f5838",
      "name": "Ad Accelerator Transcripts",
      "webhookId": "fd73633e-bf56-4258-b07c-ad8ef63ff307",
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sync.api.cloudconvert.com/v2/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMDI0NDlkN2JkYThkYzhhOTlmYzA5MjVmZGZkZmUwMjMzODViYTIzMzEzNzA5ZDAwNzJiYTQ0OGNkY2VlZjNhZTFmYjM4Y2QxMTgwYjVlYzciLCJpYXQiOjE3NTE0MjQ0NTYuNTE1MjA5LCJuYmYiOjE3NTE0MjQ0NTYuNTE1MjExLCJleHAiOjQ5MDcwOTgwNTYuNDk0NzI3LCJzdWIiOiI3MjM0MTE5NSIsInNjb3BlcyI6WyJ1c2VyLnJlYWQiLCJ1c2VyLndyaXRlIiwidGFzay5yZWFkIiwidGFzay53cml0ZSIsIndlYmhvb2sucmVhZCIsIndlYmhvb2sud3JpdGUiLCJwcmVzZXQucmVhZCIsInByZXNldC53cml0ZSJdfQ.J_6-HzY0bcddTltrexr_Sq2GpEAqxQ9mqlWxpH47KGHWofu32TF8viisNQ4kT0MglEdbSNxfOJR46vWl7TD2rd6iG5LqLTfm75i1lMfxg3B09bWoXtQ6JYUd7TAESCOPPnmZ4l76QP2x5e-SX7k6-nnH-Vvwgv-Awa14EefzEcphjb0RP9tTiHqgVKD9h4R0Jxc2REHG9jr7kVAZKWvSVhzo6HOsW88UbYsIx9bMGJjKLgvKlD2I--6spIalkZrY5IYsJppBwo1Fiwpx3zKXn7yzSmiawKXpGLh6fJHUukdd2YStTPnNhS3oyuJvi1bwKGdakXBY8Z-fESr08RCOx0BgvD3WNue6D06-OBDkMDsgeoQeZ7LMoahM7oxDTqBJvemS3NkVXPpyDTjktOdysAhuiCNfDaZqATTwYBZ0oHp4LOcfMlFtVxvpsO6s9OE3Zb0z8vm-O7cx_e-9AkOuEeUTosHM02u-CsZX1CQf2mM9huxELzLut2HWxiXP1mvW1QIiAP2oCKDqQB6NrV60hEcR9b298LEKI-FuvWJU6KN2BV1qtF-MbYCjk3mIvhv8Qf4FOrEfAc2VcbdPnBTnOv0Bg34_0WXXXuHic62j_j-OBD3Eitm1WZcs6zPhg6ra-PxIDCAdlqFJalv5bvN25Vq7HlvG5_GHe8tNJu3kp1o"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tasks\": {\n    \"import-my-file\": {\n      \"operation\": \"import/url\",\n      \"url\": \"{{ $('Get Video File Apify').item.json.videoUrl }}\"\n    },\n    \"convert-my-file\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-my-file\",\n      \"input_format\": \"mp4\",\n      \"output_format\": \"mp3\"\n    },\n    \"export-my-file\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-my-file\"\n    }\n  },\n  \"redirect\": true\n} ",
        "options": {}
      },
      "id": "dd40481a-a2ac-49bd-97d5-a587a4719f32",
      "name": "Mp4 to Mp3 Cloud Convert1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        80
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.output.title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1rnSAeqFFvHHYqsQpEJP7TQxbU7PWeFai",
          "mode": "list",
          "cachedResultName": "Instagram Ads",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1rnSAeqFFvHHYqsQpEJP7TQxbU7PWeFai"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2576,
        80
      ],
      "id": "862fbd29-c5f7-4be0-9f98-7bf2c23b0b3e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KFlIaAnjopj4uJwt",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Ads": [
      {
        "json": {
          "Ads Type": "Instagram URL",
          "Instagram URL or Facebook Ads ID": "https://www.instagram.com/reel/DLyWxjhCzBk/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==",
          "submittedAt": "2025-08-04T01:51:43.927Z",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sales Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ad Accelerator Transcripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Winning Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video File Apify": {
      "main": [
        [
          {
            "node": "Mp4 to Mp3 Cloud Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mp4 to Mp3 Cloud Convert": {
      "main": [
        [
          {
            "node": "Transcribe Audio to Script (GPT)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Script Framework AI agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio to Script (GPT)1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Script Framework AI agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Script Framework AI agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Framework AI agent2": {
      "main": [
        [
          {
            "node": "Mp4 to Mp3 Cloud Convert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Convert to MP3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to MP3": {
      "main": [
        [
          {
            "node": "Transcribe Audio to Script (GPT)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio to Script (GPT)2": {
      "main": [
        [
          {
            "node": "Script Framework AI agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Script Framework AI agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Script Framework AI agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Framework AI agent3": {
      "main": [
        [
          {
            "node": "Create a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ads": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Winning Ads": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get Video File Apify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Script Framework AI agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Framework AI agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Framework AI agent": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Script Framework AI agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Script Framework AI agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Script Framework AI agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Framework AI agent1": {
      "main": [
        [
          {
            "node": "Create a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Script Framework AI agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Call": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad Accelerator Transcripts": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mp4 to Mp3 Cloud Convert1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97cae4af-b1d3-45c3-8512-bcecde4a9708",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bba3421f36c879c686c8ff80191e9b535d0031840f907aa7907d1cd24c5e72c3"
  },
  "id": "Nqc4zaa9Sthks1uR",
  "tags": []
}